
@{
    ViewData["Title"] = "SuccessCOD";
    Layout = "~/Areas/Cart/Views/HomeCart/_LayoutCart.cshtml";
}

<div class="alert alert-success">
    Bạn Vừa mua hàng thành công, cửa hàng sẽ liên hệ qua hotline với bạn qua thông tin cá nhân mà bạn vừa cung cấp để hoàn thành tất cả thủ tục của đơn hàng!
    Xin cảm ơn!
</div>

