@model IEnumerable<WebPerfume.Models.InventoryViewModel>
@{
    ViewData["Title"] = "InventoryStatistics";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>InventoryStatistics</h2>
<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Tồn kho</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.TotalInventory</td>
            </tr>
        }
    </tbody>
</table>
